
{% block head %}
{% include "_base.twig" %}
{% endblock %}

{% block body %}
    {% include "partials/nav.twig" %}
    <div class="container">

        <h5>{{ base_uri }} {{ baseurl }}</h5>

        <p>{{ content | raw }}</p>
        {% if 'Redeemed' in page_h1  %}
            <h1>{{ page_h1 }}</h1><div class="card-header">
            <!--<span style="color:green">{{ result }}</span>-->
                Voucher was Redeemed
            </div>
        {% endif %}
        {% if 'Error' in page_h1  %}
            <div class="card-header">

                <span style="color:red"><h1>{{ page_h1 }}</h1> {{ result }}</span>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-body">

                <div id="result">

                    <h1><text x="0" y="15" fill="green" style="font-size:36px; font-weight: bold; ">KL Coffee Estate</text> Receipt</h1>
                    <h5><label>No.:</label> {{ redeem_id }} | <label>Date:</label> {{ date }}</h5>
                    <h5><label>Name:</label> {{ user_name }} | <label>Phone No.:</label> {{ user_phone }}</h5>
                    <h5><label>Comment:</label> {{ user_comment }}</h5>


                        <hr style="padding: 10px 0;border-top: 2px dashed black">
                        <table class="table">

                            <tr>
                                <th>Voucher</th>
                                <th>Rate</th>
                                <th>Notes</th>

                            </tr>
                            {% set counter =0 %}
                            {% for result in results %}
                                {% set counter = ( counter | default(0) ) + 1 %}

                            <tr>
                                <td><b>{{ counter }}. </b>  {{  result.voucher }}</td>
                                <td>{{ result.rate }}</td>
                                <td>{{ result.msg }}</td>

                            </tr>
                            {% endfor %}
                            <tr><td colspan="2"><hr style="border:2px double #aaa"></td></tr>
                            <tr style="font-weight: bold"><td>Total</td><td colspan="2">{{ total | number_format(0, '.', ',')}} </td><td>Count {{ counter }}</td></tr>
                            <tr><td><A  href="javascript:window.print()"><button class="btn btn-success">Print This Page</button></A></td></tr>
                        </table>




                </div>
            </div>
        </div>

    </div>
{% endblock %}

