
{% block head %}
{% include "_base.twig" %}
{% endblock %}

{% block body %}

{% block contents %}
    <div class="container">

<div>
    {% if page - 1 >= 0 %}
        <a href="{{base_url()}}/admin/print/print/{{ page - 1 }}?campaign={{ c_id }}&submit=print">pre</a>
    {% endif %}
    {{ admin }}
    Page: {{ page }} of {{ total }}
    {% if (page +1) < total %}

        <a href="{{base_url()}}/admin/print/print/{{ page + 1 }}?campaign={{ c_id }}&submit=print">next</a>
    {% endif %}
</div>
    </div>
                    <div class="form-group row">
                        {% for barcode in content %}
                        <div class="col-sm-6" >



                                <div class="row" style="border:1px dashed gray; margin:10px;">

                                    <div xclass="col-sm-3" style="border:0px dashed wheat; align:center; padding:10px">
                                        <h6>KL Coffee Estate Berries 2020</h6>

                                        <div>{{ barcode.img | raw }}</div>
                                        <div><small>id: #{{ barcode.id | raw }}
                                                <br><b><span class="voucher">{{ barcode.voucher|raw }}</b></span><br>expiry: {{ barcode.expiry }}</small>
                                        </div>

                                    </div>
                                    <div style="border-right:1px dotted #000099"> </div>
                                    <div xclass="col-sm-3" style="border:0px dashed wheat; align:center; padding:10px">
                                    <h6>KL Coffee Estate Berries 2020</h6>

                                        <div>{{ barcode.img | raw }}</div>
                                        <div><small>id: #{{ barcode.id | raw }}
                                                <br><b><span class="voucher">{{ barcode.voucher|raw }}</b></span><br>expiry: {{ barcode.expiry }}</small>
                                        </div>
                                        <br>
                                    </div>

                                </div>




                        </div>
                        {% endfor %}
                    </div>



            </div>

{% endblock %}
{% endblock %}
