
{% block head %}
{% include "_base.twig" %}
{% endblock %}

{% block body %}
    {% include "partials/nav.twig" %}
{% block contents %}
    <div class="container">

<div>
    {% if page - 1 >= 0 %}
        <a href="{{base_url()}}/admin/print/print/{{ page - 1 }}?campaign={{ c_id }}&submit=print">pre</a>
    {% endif %}
    {{ admin }}
    Page: {{ page }} of {{ total }}
    {% if (page +1) < total %}

        <a href="{{base_url()}}/admin/print/print/{{ page + 1 }}?campaign={{ c_id }}&submit=print">next</a>
    {% endif %}
</div>

    </div>
        <div class="form-group row" >
                        {% for barcode in content  %}
                            {% set _transform ='180deg' %}
                            {% if barcode.id is divisible by(2) %}

                                 {% set _transform = '' %}
                            {% endif %}

                        <div class="col-sm-3" >



                                <div class="row" style="border:2px dashed gray; margin:2px;padding:10px; transform: rotateX({{ _transform }});">


                                        <h6>KL Coffee Estate Berries 2020</h6>

                                        <div>{{ barcode.img | raw }}</div>
                                        <div><small>id: #{{ barcode.id | raw }}
                                                <br><b><span class="voucher">{{ barcode.voucher|raw }}</b></span><br>expiry: {{ barcode.expiry }}</small>

                                    </div>

                                </div>




                        </div>

                        {% endfor %}
                    </div>



            </div>

{% endblock %}
{% endblock %}
