
{% block head %}
{% include "_base.twig" %}
{% endblock %}

{% block body %}
{% block nav%}
    {% include "partials/nav.twig" %}
{% endblock %}
{% block contents%}
    <div class="container">
    <h1>{{ page_h1 }}</h1>
        <h5>{{ base_uri }} {{ baseurl }}</h5>

        <p>{{ content | raw }}</p>
        <div class="card">
            <div class="card-body row">
                <form id="form-print" name="form-print" action="print/print" method="get">
                    <div class="form-group row">
                        <label for="Name" class="col-sm-9 col-form-label">Campaign Title *</label>
                        <div class="col-sm-12">


                            <select id="print" name="campaign" class="print form-control">
                                {% for campaign in campagins %}
                                <option  value="{{ campaign.id }}">{{ campaign.title|capitalize }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>


                    <input type="submit" class="btn btn-warning mb-2 print" id="print"  name="submit" value="print"/>
                    <input type="submit" class="btn btn-info mb-2 print" id="print" name="submit" value="download"/>


                </form>
            </div>
        </div>

    </div>
{% endblock %}
{% endblock %}
