
{% block head %}
{% include "_base.twig" %}
{% endblock %}

{% block body %}
    {% include "partials/nav.twig" %}
    <div class="container">

        <h5>{{ base_uri }} {{ baseurl }}</h5>

        <p>{{ content | raw }}</p>
        {% if 'Redeemed' in page_h1  %}
            <h1>{{ page_h1 }}</h1><div class="card-header">
            <!--<span style="color:green">{{ result }}</span>-->
                Voucher was Redeemed
            </div>
        {% endif %}
        {% if 'Error' in page_h1  %}
            <div class="card-header">

                <span style="color:red"><h1>{{ page_h1 }}</h1> {{ result }}</span>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-body">

                <div id="result">

                    <h1 >Receipt</h1>
                    <h5><label>No.:</label> {{ redeem_id }}</h5>
                    
                    <h5><label>Date:</label> {{ date }}</h5>
                    <h5><label>Name:</label> {{ user_name }}</h5>
                    <h5><label>Phone No.:</label> {{ user_phone }}</h5>
                    <h5><label>Comment:</label> {{ user_comment }}</h5>


                        <hr style="padding: 10px 0;border-top: 2px dashed black">
                        <table class="table">

                            <tr>
                                <th>Voucher</th>
                                <th>Rate</th>
                                <th>Notes</th>

                            </tr>
                            {% for result in results %}

                            <tr>
                                <td>{{ result.voucher }}</td>
                                <td>{{ result.rate }}</td>
                                <td>{{ result.msg }}</td>

                            </tr>
                            {% endfor %}
                            <tr><td colspan="2"><hr style="border:2px double #aaa"></td></tr>
                            <tr style="font-weight: bold"><td>Total</td><td colspan="2">{{ total }}</td></tr>
                            <!--<tr><td><input type="submit" class="btn btn-success mb-2 stop" id="stop"  name="submit"  value="Print PDF"/></td></tr>
                            --><tr><td><A  href="javascript:window.print()"><button class="btn btn-success">Print This Page</button></A></td></tr>
                        </table>




                </div>
            </div>
        </div>

    </div>
{% endblock %}

