
{% block head %}
{% include "_base.twig" %}
{% endblock %}

{% block body %}
    {% include "partials/nav.twig" %}
    <div class="container">
        <h1 id="{{ id }}" style="color:green">{{ page_h1 }}</h1>
        <div>{{ result|raw }}</div>

        {% if (content) %}
        <div class="card">
            <div class="card-body">
                {% set pattern='' %}
                {% for key, value in content %}
                    {% if (key == 'title') %}
                    <p>Campaign : {{ value }}</p>
                    {% elseif key == 'quantity' %}
                    <p>Created {{ value }} vouchers </p>
                    {% elseif key == 'prefix' %}
                        {% set pattern = value %}
                    {% elseif key == 'sufix' %}
                        {% set pattern = pattern ~ '-********-' ~ value %}
                    {% elseif key == 'dateTime' %}
                        <p>On: {{ value  }}</p>
                    {% elseif key == 'expiry' %}
                        <p>Expires on: {{ value  }}</p>
                    {% endif %}

                {% endfor %} <p>of pattern :
                {{ pattern }}</p>
                <div><a href="{{ path_for('print') }}"><button class="btn btn-primary">Print</button></a></div>

            </div>
                </div>
        {% endif %}
    </div>
    {% if 'Redeemed' in page_h1  %}

        <div class="card-header">
            <a class="btn btn-success" href="../../redeem">redeem another</a>
        </div>
    </div>
    {% endif %}
{% endblock %}

